{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Home</h3>
    </div>
</div>
<div class="home-view">
    <form id="new-status-form">
        <div class="form-group mb-3">
            <textarea id="new-status-body" class="form-control" rows="4" placeholder="What's happening?"></textarea>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Post</button>
    </form>
</div>
<div id="status-view">
    <div class="list-group"></div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'network/home.js' %}"></script>
{% endblock %}